NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
GITHUB_TOKEN=
CAMERA_1_IP=
CAMERA_1_PORTA=8500
CAMERA_2_IP=
CAMERA_2_PORTA=8500
HTTP_HOST=127.0.0.1
HTTP_PORT=3000
LOG_LEVEL=info
